<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jastz.mybatis.demo.dao.CityMapper">

    <insert id="batchAdd" parameterType="city">
        INSERT INTO city(parent_id, name, address, population, proportion, code, area_code, zip)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.parentId}, #{item.name}, #{item.address}, #{item.population}, #{item.proportion}, #{item.code},
            #{item.areaCode}, #{item.zip})
        </foreach>
    </insert>
    <insert id="save" parameterType="city" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO city(parent_id, name, address, population, proportion, code, area_code, zip)
        VALUES ( #{parentId}, #{name}, #{address}, #{population}, #{proportion}, #{code},
            #{areaCode}, #{zip})
    </insert>
    <select id="queryById" resultType="city">
        SELECT * FROM city WHERE id=#{id}
    </select>

    <select id="queryPage" resultType="city"
            parameterType="map">
      SELECT * FROM city WHERE name LIKE concat("%",#{name},"%")
    </select>

</mapper>